* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #f7f7f9;
}

h2 {
  font-size: 2em;
  font-family: 'Inter Light';
  color: #555555;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Inter Medium';
  font-size: 1.2em;
}

h4 {
  font-family: 'Inter Thin';
}

h6 {
  font-family: 'Inter ExtraLight';
}

a {
  color: #0f5ccf;
}

.App {
}

.jackpot-header {
  font-size: 3.7em;
}

.top-status-bar {
  height: 20px;
  display: flex;
  background: black;
  color: #fff;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(200%, 0);
  }
  100% {
    transform: translate(-200%, 0);
  }
}

.marquee:hover {
  animation-play-state: paused;
}

.top-nav {
  background: #f7f7f9;
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 50px;
  padding: 10px 60px;
  overflow-x: scroll;
}

.menu-items {
}

.action-nav {
  background: #f7f7f9;
}

.footer {
  background: #f7f7f9;
  color: #555555;
  text-align: center;
  padding: 20px 0px;
}

.right-nav {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  column-gap: 10px;
  overflow: none;
}

.nav-links {
  display: grid;
  grid-row-end: auto;
  grid-template-columns: 1fr 1fr 1fr;
  color: #666769;
  column-gap: 1em;
  font-size: 1.3em;
  overflow: hidden;
}

.nav-link:hover {
  cursor: pointer;
  color: #d2d2d4;
}

.play-button {
  width: 100px;
  height: 40px;
  background: rgba(217, 217, 217, 0.14);
  border: 2px solid #d2d2d4;
  border-radius: 80px;
  font-family: 'Inter';
  font-size: 1.2em;
  color: #666769;
  font-weight: 400;
  transition: scale 0.5s ease-in-out;
}

.play-button:hover {
  color: #cc1313;
  border: 2px solid #cc1313;
  cursor: pointer;
  scale: 1.02;
  opacity: 0.9;
}

.header-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f7f9;
  padding: 10px 0px;
  font-size: 1.8em;
  color: #555555;
}

.action-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-options:hover {
  cursor: pointer;
  color: #cc1313;
  border: 2px solid #cc1313;
}

.options {
  display: flex;
  align-items: center;
}

.select-options {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 2em;
  border-radius: 80px;
  color: #666769;
  border: solid 2px #d2d2d4;
  flex-shrink: 0;
}

.option-line {
  border-top: 2px solid #d2d2d4;
  width: 50px;
}

.story-container {
  background: #f7f7f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
}

.left-arrow {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  color: #d2d2d4;
}

.right-arrow {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  color: #d2d2d4;
}

.right-arrow:hover {
  color: #bbb;
  cursor: pointer;
}

.left-arrow:hover {
  color: #bbb;
  cursor: pointer;
}

.story-text {
  hyphens: auto;
  color: #555555;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  padding: 30px;
  font-size: 1.2em;
  font-family: 'Inter Light';
}

.action-box {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mega-millions {
  width: 400px;
  border: 2px solid #2f2d2d;
  border-radius: 20px;
  text-align: center;
  display: grid;
  padding: 30px;
  row-gap: 4px;
  font-size: 1.2em;
  transition: scale 0.5s ease-in-out;
}

.mega-millions:hover {
  border: 2px solid #d2d2d4;
  cursor: pointer;
  scale: 1.04;
  /* opacity: 0.7; */
  transition: scale 0.3s ease-in-out;
}

.numbers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0px 10px;
}

.winning-number {
  position: relative;
  height: 40px;
  width: 40px;
  background: #fff;
  row-gap: 10px;
  border-radius: 20px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.4em;
  backdrop-filter: blur(10px);
}

.red {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  filter: blur(3px);
  background: #f7282a;
}

.lucky-number {
  position: absolute;
  color: #fff;
}

.menu-items {
  display: none;
}

@media (max-width: 900px) {
  .action-nav {
    flex-direction: column;
    display: none;
  }
  .left-arrow {
    display: none;
  }
  .right-arrow {
    display: none;
  }
  .right-nav {
    display: none;
  }
  .story-container {
    flex-direction: column;
    row-gap: 40px;
    padding: 20px;
  }
  .story-text {
    max-width: 700px;
    text-align: center;
  }
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .menu-items {
    display: flex;
  }
  .mega-millions {
  }
  .action-box {
    padding: 20px;
  }
}
